* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}
.main {
  min-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 20px;
}
